:root {
  --dark-background: #222629;
  --btn: #03dac6;
  --btn-hover: #6b6e70;
  --transparent: #00000000;
  --wrapper: #474b4f;
}

.homepage-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.form-wrapper {
  background: var(--wrapper);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: var(--btn);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.main-label {
  margin-bottom: 20px;
  margin-top: 0;
}

.homepage-logo {
  /* height: 80px; */
  width: 250px;
  margin-bottom: 30px;
}

.input-box {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.join-btn,
.leave-btn {
  background: var(--btn);
  width: 100px;
  margin-left: auto;
}

.join-btn:hover,
.leave-btn:hover {
  background: var(--transparent);
  border-inline: 3px solid var(--btn);
  color: var(--btn);
}

.create-info {
  margin: 0 auto;
  margin-top: 20px;
}

.linkedin {
  color: var(--btn);
  text-decoration: none;
  border-bottom: 1px solid var(--btn);
  transition: all 0.3s ease-in-out;
}

.linkedin:hover,
.new-room:hover,
footer a:hover {
  color: var(--btn-hover);
  border-color: var(--btn-hover);
}

.main-wrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside {
  background: var(--dark-background);
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

.aside-inner {
  flex: 1;
}

.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  width: 100%;
  background-color: var(--wrapper);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  font-weight: bold;
}

.username {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 500;
  text-transform: capitalize;
}

.logo {
  border-bottom: 1px solid var(--btn-hover);
  padding-bottom: 10px;
}

.logo-image {
  width: 200px;
}

.leave-btn {
  width: 100%;
  margin-top: 20px;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.new-room {
  color: var(--btn);
}
